/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background: linear-gradient(135deg, #050505, #0C0F0A, #0a1d0f);
    background-size: 300% 300%;
    animation: bgMove 10s infinite alternate;
    color: #0f0;
    font-family: "Orbitron", sans-serif;
}

/* ANIMATION BACKGROUND */
@keyframes bgMove {
    0% { background-position: left top; }
    100% { background-position: right bottom; }
}

/* HEADER */
header {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #00ff88;
    box-shadow: 0 0 15px #00ff88;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo span {
    font-size: 26px;
    font-weight: bold;
    color: #00ff88;
    text-shadow: 0 0 10px #00ff88;
}

/* NAV */
nav a {
    margin: 0 15px;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #00ff88;
    border-radius: 6px;
    transition: 0.3s;
}

nav a:hover {
    background: #00ff88;
    color: black;
    box-shadow: 0 0 15px #00ff88;
    transform: scale(1.1);
}

/* HERO */
.hero {
    text-align: center;
    padding: 150px 20px;
    color: white;
}

.hero h1 {
    font-size: 45px;
    text-shadow: 0 0 20px #00ff88;
}

.hero p {
    margin-top: 15px;
    font-size: 20px;
    color: #bbb;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 30px;
    background: #00ff88;
    color: black;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.15);
    box-shadow: 0 0 15px #00ff88;
}

/* TITLES */
.content h1 {
    color: white;
    font-size: 35px;
    text-shadow: 0 0 12px #00ff88;
    margin-bottom: 30px;
}

/* CARDS */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 20px;
}

.card {
    background: rgba(0,0,0,0.7);
    border: 2px solid #00ff88;
    border-radius: 12px;
    padding: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 0 10px #00ff88;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ff88;
}

/* FOOTER */
footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
    color: #00ff88;
    margin-top: 40px;
    border-top: 2px solid #00ff88;
    text-shadow: 0 0 10px #00ff88;
}

